@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

* {
    font-family: 'Inria Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: rgb(119,67,236);
    background: linear-gradient(130deg, rgba(119,67,236,1) 61%, rgba(221,45,253,1) 100%);
}