$todo-width: 25%;
$primary: #a13eaa;
$background: rgb(32, 57, 109);

.todo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo-form {
    width: $todo-width;
    padding: 30px;
    background-color: $background;

    input {
        width: 75%;
        height: 50px;
        background-color: $background;
        border: 3px solid $primary;
    }

    button {
        width: 25%;
        height: 50px;
        background-color: $primary;
        border: none;
    }
}

.todo-item {
    width: $todo-width;
    height: 50px;
    background-color: $primary;
    padding: 10px;
    font-size: 20px;
    border: 2px solid $background;
}