$todo-width: 25vw;


.todo {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}


.todo-form {
    width: $todo-width;
    padding: 30px;
    background-color: gray;

    input {
        width: 75%;
        height: 50px;
    }

    button {
        width: 25%;
        height: 50px;
    }
}

.todo-item {
    width: $todo-width;
    background-color: red;
}